@import url(https://fonts.googleapis.com/css?family=Lato:regular,italic,700,700italic&display=swap);
@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #848789;
  line-height: 1;
  font-family: "";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  touch-action: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 67.5rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

@media (min-width: 69.375em) {
  .block-text__image {
    padding-bottom: 2.125rem;
  }
}
@media (min-width: 20em) and (max-width: 69.375em) {
  @supports (padding-bottom: clamp( 1.25rem , 0.8955696203rem  +  1.7721518987vw , 2.125rem )) {
    .block-text__image {
      padding-bottom: clamp( 1.25rem , 0.8955696203rem  +  1.7721518987vw , 2.125rem );
    }
  }
  @supports not (padding-bottom: clamp( 1.25rem , 0.8955696203rem  +  1.7721518987vw , 2.125rem )) {
    .block-text__image {
      padding-bottom: calc(1.25rem + 0.875 * (100vw - 20rem) / 49.375);
    }
  }
}
@media (max-width: 20em) {
  .block-text__image {
    padding-bottom: 1.25rem;
  }
}
.block-text__title {
  line-height: 150%;
  font-weight: 700;
  letter-spacing: 3.6px;
  color: #353738;
}
@media (min-width: 69.375em) {
  .block-text__title {
    font-size: 1.125rem;
  }
}
@media (min-width: 20em) and (max-width: 69.375em) {
  @supports (font-size: clamp( 1rem , 0.9493670886rem  +  0.253164557vw , 1.125rem )) {
    .block-text__title {
      font-size: clamp( 1rem , 0.9493670886rem  +  0.253164557vw , 1.125rem );
    }
  }
  @supports not (font-size: clamp( 1rem , 0.9493670886rem  +  0.253164557vw , 1.125rem )) {
    .block-text__title {
      font-size: calc(1rem + 0.125 * (100vw - 20rem) / 49.375);
    }
  }
}
@media (max-width: 20em) {
  .block-text__title {
    font-size: 1rem;
  }
}
@media (min-width: 69.375em) {
  .block-text__title {
    padding-bottom: 2.1875rem;
  }
}
@media (min-width: 20em) and (max-width: 69.375em) {
  @supports (padding-bottom: clamp( 1.25rem , 0.8702531646rem  +  1.8987341772vw , 2.1875rem )) {
    .block-text__title {
      padding-bottom: clamp( 1.25rem , 0.8702531646rem  +  1.8987341772vw , 2.1875rem );
    }
  }
  @supports not (padding-bottom: clamp( 1.25rem , 0.8702531646rem  +  1.8987341772vw , 2.1875rem )) {
    .block-text__title {
      padding-bottom: calc(1.25rem + 0.9375 * (100vw - 20rem) / 49.375);
    }
  }
}
@media (max-width: 20em) {
  .block-text__title {
    padding-bottom: 1.25rem;
  }
}
.block-text__text {
  line-height: 150%;
}
@media (min-width: 69.375em) {
  .block-text__text {
    font-size: 1.125rem;
  }
}
@media (min-width: 20em) and (max-width: 69.375em) {
  @supports (font-size: clamp( 0.875rem , 0.7737341772rem  +  0.5063291139vw , 1.125rem )) {
    .block-text__text {
      font-size: clamp( 0.875rem , 0.7737341772rem  +  0.5063291139vw , 1.125rem );
    }
  }
  @supports not (font-size: clamp( 0.875rem , 0.7737341772rem  +  0.5063291139vw , 1.125rem )) {
    .block-text__text {
      font-size: calc(0.875rem + 0.25 * (100vw - 20rem) / 49.375);
    }
  }
}
@media (max-width: 20em) {
  .block-text__text {
    font-size: 0.875rem;
  }
}

.image-decore {
  transition: all 0.3s ease 0s;
}
.image-decore:hover::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(90, 171, 122, 0.5);
  z-index: 2;
}
.image-decore:hover .logo-decore {
  opacity: 1;
  visibility: visible;
}

.logo-decore {
  transition: all 0.3s ease 0s;
  position: absolute;
  z-index: 3;
  width: 113px;
  height: 118px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -25%);
  background-color: rgba 100, 194, 158, 0.5;
  opacity: 0;
  visibility: hidden;
}

body._lock {
  overflow: hidden;
}

.menu__icon {
  display: none;
}

@media (max-width: 47.99875em) {
  .menu__icon {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }
  .menu__icon span, .menu__icon::before, .menu__icon::after {
    content: "";
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #8dc5a4;
  }
  .menu__icon::before {
    top: 0;
  }
  .menu__icon::after {
    bottom: 0;
  }
  .menu__icon span {
    top: calc(50% - 0.0625rem);
  }
  .menu__icon._active span {
    width: 0;
  }
  .menu__icon._active::before {
    top: calc(50% - 0.0625rem);
    transform: rotate(-45deg);
  }
  .menu__icon._active::after {
    bottom: calc(50% - 0.0625rem);
    transform: rotate(45deg);
  }
  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 100px 30px 30px 30px;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
  }
  .menu__body._active {
    left: 0;
  }
}
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}
.header__menu {
  display: flex;
  flex-direction: column;
}
@media (max-width: 767px) {
  .header__menu {
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }
}
.header__logo {
  position: relative;
  z-index: 5;
  display: none;
}
@media (max-width: 767px) {
  .header__logo {
    display: inline;
  }
}

.menu {
  padding: 15px 0px 0px 0px;
  min-height: 85px;
}
.menu__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767px) {
  .menu__list {
    padding: 50px 0px 0px 0px;
    display: block;
    text-align: center;
  }
  .menu__list li {
    color: #8dc5a4;
  }
  .menu__list li:not(:last-child) {
    margin: 0px 0px 20px 0px;
  }
}
._header-scroll .menu {
  padding: 0;
}

.menu-link {
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 2.6px;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
}
@media (max-width: 767px) {
  .menu-link {
    font-size: 30px;
  }
  .menu-link__logo {
    display: none;
  }
}
.menu-link:hover {
  color: #5aab7a;
}

.header._header-scroll {
  transition: all 0.8s ease 0s;
  background-color: rgba(13, 13, 17, 0.7);
  min-height: 50px;
}

._header-scroll .menu-link {
  color: #8dc5a4;
}
._header-scroll .menu-link:hover {
  color: #5aab7a;
}

.footer {
  background-color: #f7f7f7;
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width: 69.375em) {
  .footer {
    padding-top: 6.25rem;
  }
}
@media (min-width: 20em) and (max-width: 69.375em) {
  @supports (padding-top: clamp( 1.875rem , 0.1028481013rem  +  8.8607594937vw , 6.25rem )) {
    .footer {
      padding-top: clamp( 1.875rem , 0.1028481013rem  +  8.8607594937vw , 6.25rem );
    }
  }
  @supports not (padding-top: clamp( 1.875rem , 0.1028481013rem  +  8.8607594937vw , 6.25rem )) {
    .footer {
      padding-top: calc(1.875rem + 4.375 * (100vw - 20rem) / 49.375);
    }
  }
}
@media (max-width: 20em) {
  .footer {
    padding-top: 1.875rem;
  }
}
@media (min-width: 69.375em) {
  .footer {
    padding-bottom: 6.25rem;
  }
}
@media (min-width: 20em) and (max-width: 69.375em) {
  @supports (padding-bottom: clamp( 1.875rem , 0.1028481013rem  +  8.8607594937vw , 6.25rem )) {
    .footer {
      padding-bottom: clamp( 1.875rem , 0.1028481013rem  +  8.8607594937vw , 6.25rem );
    }
  }
  @supports not (padding-bottom: clamp( 1.875rem , 0.1028481013rem  +  8.8607594937vw , 6.25rem )) {
    .footer {
      padding-bottom: calc(1.875rem + 4.375 * (100vw - 20rem) / 49.375);
    }
  }
}
@media (max-width: 20em) {
  .footer {
    padding-bottom: 1.875rem;
  }
}
.footer__body {
  display: flex;
  justify-content: space-between;
  margin: 0 -15px;
}
@media (max-width: 520px) {
  .footer__body {
    flex-wrap: wrap;
    align-items: center;
  }
}
.footer__column {
  padding: 0px 15px;
  flex: 0 1 33.333%;
}
@media (max-width: 520px) {
  .footer__column {
    flex: 0 1 50%;
    text-align: center;
  }
}
@media (max-width: 360px) {
  .footer__column {
    flex: 0 1 100%;
  }
}
@media (max-width: 520px) {
  .footer__column_m {
    flex: 0 1 100%;
    padding: 15px 0px 0px 0px;
  }
}
.footer__title {
  font-size: 16px;
  font-weight: 700;
}
.footer__text {
  font-size: 14px;
  font-style: italic;
  line-height: 128.571429%; /* 18/14 */
}
.footer__social {
  display: flex;
  gap: 9px;
}
@media (max-width: 425px) {
  .footer__social {
    justify-content: center;
    padding: 15px 0px 0px 0px;
  }
}
.footer__company {
  display: flex;
  align-items: center;
  gap: 9px;
}
@media (max-width: 630px) {
  .footer__company {
    flex-direction: column;
    text-align: center;
  }
}
@media (max-width: 520px) {
  .footer__company {
    flex-direction: row;
    justify-content: center;
  }
}

.social__icon {
  transition: all 0.3s ease 0s;
}
.social__icon:hover {
  transform: scale(1.3);
}

.main-screen {
  min-height: 100vh;
  flex: 1 0 100%;
  position: relative;
}
.main-screen__bg-ibg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.new-generation {
  background-color: #f7f7f7;
}
@media (min-width: 69.375em) {
  .new-generation {
    padding-top: 7.3125rem;
  }
}
@media (min-width: 20em) and (max-width: 69.375em) {
  @supports (padding-top: clamp( 1.875rem , -0.3275316456rem  +  11.0126582278vw , 7.3125rem )) {
    .new-generation {
      padding-top: clamp( 1.875rem , -0.3275316456rem  +  11.0126582278vw , 7.3125rem );
    }
  }
  @supports not (padding-top: clamp( 1.875rem , -0.3275316456rem  +  11.0126582278vw , 7.3125rem )) {
    .new-generation {
      padding-top: calc(1.875rem + 5.4375 * (100vw - 20rem) / 49.375);
    }
  }
}
@media (max-width: 20em) {
  .new-generation {
    padding-top: 1.875rem;
  }
}
@media (min-width: 69.375em) {
  .new-generation {
    padding-bottom: 8.875rem;
  }
}
@media (min-width: 20em) and (max-width: 69.375em) {
  @supports (padding-bottom: clamp( 1.875rem , -0.960443038rem  +  14.1772151899vw , 8.875rem )) {
    .new-generation {
      padding-bottom: clamp( 1.875rem , -0.960443038rem  +  14.1772151899vw , 8.875rem );
    }
  }
  @supports not (padding-bottom: clamp( 1.875rem , -0.960443038rem  +  14.1772151899vw , 8.875rem )) {
    .new-generation {
      padding-bottom: calc(1.875rem + 7 * (100vw - 20rem) / 49.375);
    }
  }
}
@media (max-width: 20em) {
  .new-generation {
    padding-bottom: 1.875rem;
  }
}
.new-generation__text-block {
  text-align: center;
}

.vintage-olivia {
  max-width: 100%;
}
.vintage-olivia__body {
  display: flex;
}
@media (max-width: 767px) {
  .vintage-olivia__body {
    flex-wrap: wrap;
  }
}
.vintage-olivia__image {
  position: relative;
  flex: 0 1 66.667%;
}
@media (max-width: 767px) {
  .vintage-olivia__image {
    flex: 0 1 100%;
    display: block;
  }
}
.vintage-olivia__content {
  display: flex;
  flex-direction: column;
  flex: 0 1 33.333%;
}
@media (min-width: 69.375em) {
  .vintage-olivia__content {
    padding-top: 1.875rem;
  }
}
@media (min-width: 20em) and (max-width: 69.375em) {
  @supports (padding-top: clamp( 1.25rem , 0.996835443rem  +  1.2658227848vw , 1.875rem )) {
    .vintage-olivia__content {
      padding-top: clamp( 1.25rem , 0.996835443rem  +  1.2658227848vw , 1.875rem );
    }
  }
  @supports not (padding-top: clamp( 1.25rem , 0.996835443rem  +  1.2658227848vw , 1.875rem )) {
    .vintage-olivia__content {
      padding-top: calc(1.25rem + 0.625 * (100vw - 20rem) / 49.375);
    }
  }
}
@media (max-width: 20em) {
  .vintage-olivia__content {
    padding-top: 1.25rem;
  }
}
@media (max-width: 767px) {
  .vintage-olivia__content {
    flex: 0 1 100%;
  }
}
.vintage-olivia__text-block {
  text-align: center;
}
@media (min-width: 125em) {
  .vintage-olivia__text-block {
    padding-right: 4.375rem;
  }
}
@media (min-width: 62.5em) and (max-width: 125em) {
  @supports (padding-right: clamp( 0.625rem , -3.125rem  +  6vw , 4.375rem )) {
    .vintage-olivia__text-block {
      padding-right: clamp( 0.625rem , -3.125rem  +  6vw , 4.375rem );
    }
  }
  @supports not (padding-right: clamp( 0.625rem , -3.125rem  +  6vw , 4.375rem )) {
    .vintage-olivia__text-block {
      padding-right: calc(0.625rem + 3.75 * (100vw - 62.5rem) / 62.5);
    }
  }
}
@media (max-width: 62.5em) {
  .vintage-olivia__text-block {
    padding-right: 0.625rem;
  }
}
@media (min-width: 125em) {
  .vintage-olivia__text-block {
    padding-left: 4.375rem;
  }
}
@media (min-width: 62.5em) and (max-width: 125em) {
  @supports (padding-left: clamp( 0.625rem , -3.125rem  +  6vw , 4.375rem )) {
    .vintage-olivia__text-block {
      padding-left: clamp( 0.625rem , -3.125rem  +  6vw , 4.375rem );
    }
  }
  @supports not (padding-left: clamp( 0.625rem , -3.125rem  +  6vw , 4.375rem )) {
    .vintage-olivia__text-block {
      padding-left: calc(0.625rem + 3.75 * (100vw - 62.5rem) / 62.5);
    }
  }
}
@media (max-width: 62.5em) {
  .vintage-olivia__text-block {
    padding-left: 0.625rem;
  }
}
@media (min-width: 69.375em) {
  .vintage-olivia__text-block {
    padding-bottom: 5rem;
  }
}
@media (min-width: 20em) and (max-width: 69.375em) {
  @supports (padding-bottom: clamp( 1.875rem , 0.6091772152rem  +  6.3291139241vw , 5rem )) {
    .vintage-olivia__text-block {
      padding-bottom: clamp( 1.875rem , 0.6091772152rem  +  6.3291139241vw , 5rem );
    }
  }
  @supports not (padding-bottom: clamp( 1.875rem , 0.6091772152rem  +  6.3291139241vw , 5rem )) {
    .vintage-olivia__text-block {
      padding-bottom: calc(1.875rem + 3.125 * (100vw - 20rem) / 49.375);
    }
  }
}
@media (max-width: 20em) {
  .vintage-olivia__text-block {
    padding-bottom: 1.875rem;
  }
}
.vintage-olivia__bottom-ibg {
  flex: 0 1 50%;
  padding: 0px 0px 38% 0px;
}

.item {
  position: relative;
}
.item__image-ibg {
  display: block;
  height: 100%;
}
@media (max-width: 767px) {
  .item__image-ibg {
    padding: 50% 0px;
  }
}

.boriosa__body {
  display: flex;
}
@media (max-width: 767px) {
  .boriosa__body {
    flex-direction: column;
  }
}
.boriosa__content {
  flex: 0 1 33.333%;
}
@media (max-width: 767px) {
  .boriosa__content {
    flex: 0 1 100%;
  }
}
.boriosa__text-block {
  text-align: center;
}
@media (min-width: 69.375em) {
  .boriosa__text-block {
    padding-top: 3.75rem;
  }
}
@media (min-width: 20em) and (max-width: 69.375em) {
  @supports (padding-top: clamp( 1.875rem , 1.1155063291rem  +  3.7974683544vw , 3.75rem )) {
    .boriosa__text-block {
      padding-top: clamp( 1.875rem , 1.1155063291rem  +  3.7974683544vw , 3.75rem );
    }
  }
  @supports not (padding-top: clamp( 1.875rem , 1.1155063291rem  +  3.7974683544vw , 3.75rem )) {
    .boriosa__text-block {
      padding-top: calc(1.875rem + 1.875 * (100vw - 20rem) / 49.375);
    }
  }
}
@media (max-width: 20em) {
  .boriosa__text-block {
    padding-top: 1.875rem;
  }
}
@media (min-width: 69.375em) {
  .boriosa__text-block {
    padding-bottom: 3.75rem;
  }
}
@media (min-width: 20em) and (max-width: 69.375em) {
  @supports (padding-bottom: clamp( 1.875rem , 1.1155063291rem  +  3.7974683544vw , 3.75rem )) {
    .boriosa__text-block {
      padding-bottom: clamp( 1.875rem , 1.1155063291rem  +  3.7974683544vw , 3.75rem );
    }
  }
  @supports not (padding-bottom: clamp( 1.875rem , 1.1155063291rem  +  3.7974683544vw , 3.75rem )) {
    .boriosa__text-block {
      padding-bottom: calc(1.875rem + 1.875 * (100vw - 20rem) / 49.375);
    }
  }
}
@media (max-width: 20em) {
  .boriosa__text-block {
    padding-bottom: 1.875rem;
  }
}
@media (min-width: 93.75em) {
  .boriosa__text-block {
    padding-right: 3.75rem;
  }
}
@media (min-width: 47.9375em) and (max-width: 93.75em) {
  @supports (padding-right: clamp( 0.9375rem , -2.0054570259rem  +  6.139154161vw , 3.75rem )) {
    .boriosa__text-block {
      padding-right: clamp( 0.9375rem , -2.0054570259rem  +  6.139154161vw , 3.75rem );
    }
  }
  @supports not (padding-right: clamp( 0.9375rem , -2.0054570259rem  +  6.139154161vw , 3.75rem )) {
    .boriosa__text-block {
      padding-right: calc(0.9375rem + 2.8125 * (100vw - 47.9375rem) / 45.8125);
    }
  }
}
@media (max-width: 47.9375em) {
  .boriosa__text-block {
    padding-right: 0.9375rem;
  }
}
@media (min-width: 93.75em) {
  .boriosa__text-block {
    padding-left: 3.75rem;
  }
}
@media (min-width: 47.9375em) and (max-width: 93.75em) {
  @supports (padding-left: clamp( 0.9375rem , -2.0054570259rem  +  6.139154161vw , 3.75rem )) {
    .boriosa__text-block {
      padding-left: clamp( 0.9375rem , -2.0054570259rem  +  6.139154161vw , 3.75rem );
    }
  }
  @supports not (padding-left: clamp( 0.9375rem , -2.0054570259rem  +  6.139154161vw , 3.75rem )) {
    .boriosa__text-block {
      padding-left: calc(0.9375rem + 2.8125 * (100vw - 47.9375rem) / 45.8125);
    }
  }
}
@media (max-width: 47.9375em) {
  .boriosa__text-block {
    padding-left: 0.9375rem;
  }
}
.boriosa__bottom-ibg {
  padding: 0px 0px 38% 0px;
}

.boriosa__image {
  position: relative;
  flex: 0 1 66.667%;
}
@media (max-width: 767px) {
  .boriosa__image {
    flex: 0 1 100%;
  }
}

.hulot__body {
  display: flex;
}
@media (max-width: 767px) {
  .hulot__body {
    flex-wrap: wrap;
  }
}
.hulot__image {
  position: relative;
  flex: 0 1 33.333%;
}
@media (max-width: 767px) {
  .hulot__image {
    flex: 0 1 100%;
  }
  .hulot__image_1 {
    order: 2;
  }
  .hulot__image_2 {
    order: 3;
  }
}
.hulot__content {
  flex: 0 1 33.333%;
}
@media (max-width: 767px) {
  .hulot__content {
    flex: 0 1 100%;
  }
}
.hulot__text-block {
  text-align: center;
}
@media (min-width: 69.375em) {
  .hulot__text-block {
    padding-top: 3.75rem;
  }
}
@media (min-width: 20em) and (max-width: 69.375em) {
  @supports (padding-top: clamp( 1.875rem , 1.1155063291rem  +  3.7974683544vw , 3.75rem )) {
    .hulot__text-block {
      padding-top: clamp( 1.875rem , 1.1155063291rem  +  3.7974683544vw , 3.75rem );
    }
  }
  @supports not (padding-top: clamp( 1.875rem , 1.1155063291rem  +  3.7974683544vw , 3.75rem )) {
    .hulot__text-block {
      padding-top: calc(1.875rem + 1.875 * (100vw - 20rem) / 49.375);
    }
  }
}
@media (max-width: 20em) {
  .hulot__text-block {
    padding-top: 1.875rem;
  }
}
@media (min-width: 69.375em) {
  .hulot__text-block {
    padding-bottom: 3.75rem;
  }
}
@media (min-width: 20em) and (max-width: 69.375em) {
  @supports (padding-bottom: clamp( 1.875rem , 1.1155063291rem  +  3.7974683544vw , 3.75rem )) {
    .hulot__text-block {
      padding-bottom: clamp( 1.875rem , 1.1155063291rem  +  3.7974683544vw , 3.75rem );
    }
  }
  @supports not (padding-bottom: clamp( 1.875rem , 1.1155063291rem  +  3.7974683544vw , 3.75rem )) {
    .hulot__text-block {
      padding-bottom: calc(1.875rem + 1.875 * (100vw - 20rem) / 49.375);
    }
  }
}
@media (max-width: 20em) {
  .hulot__text-block {
    padding-bottom: 1.875rem;
  }
}
@media (min-width: 93.75em) {
  .hulot__text-block {
    padding-left: 3.75rem;
  }
}
@media (min-width: 47.9375em) and (max-width: 93.75em) {
  @supports (padding-left: clamp( 0.9375rem , -2.0054570259rem  +  6.139154161vw , 3.75rem )) {
    .hulot__text-block {
      padding-left: clamp( 0.9375rem , -2.0054570259rem  +  6.139154161vw , 3.75rem );
    }
  }
  @supports not (padding-left: clamp( 0.9375rem , -2.0054570259rem  +  6.139154161vw , 3.75rem )) {
    .hulot__text-block {
      padding-left: calc(0.9375rem + 2.8125 * (100vw - 47.9375rem) / 45.8125);
    }
  }
}
@media (max-width: 47.9375em) {
  .hulot__text-block {
    padding-left: 0.9375rem;
  }
}
@media (min-width: 93.75em) {
  .hulot__text-block {
    padding-right: 3.75rem;
  }
}
@media (min-width: 47.9375em) and (max-width: 93.75em) {
  @supports (padding-right: clamp( 0.9375rem , -2.0054570259rem  +  6.139154161vw , 3.75rem )) {
    .hulot__text-block {
      padding-right: clamp( 0.9375rem , -2.0054570259rem  +  6.139154161vw , 3.75rem );
    }
  }
  @supports not (padding-right: clamp( 0.9375rem , -2.0054570259rem  +  6.139154161vw , 3.75rem )) {
    .hulot__text-block {
      padding-right: calc(0.9375rem + 2.8125 * (100vw - 47.9375rem) / 45.8125);
    }
  }
}
@media (max-width: 47.9375em) {
  .hulot__text-block {
    padding-right: 0.9375rem;
  }
}
.hulot__bottom-ibg {
  padding: 0px 0px 38% 0px;
}

.item__image-ibg {
  height: 100%;
}

@media (min-width: 69.375em) {
  .comments {
    padding-top: 7.75rem;
  }
}
@media (min-width: 20em) and (max-width: 69.375em) {
  @supports (padding-top: clamp( 1.875rem , -0.5047468354rem  +  11.8987341772vw , 7.75rem )) {
    .comments {
      padding-top: clamp( 1.875rem , -0.5047468354rem  +  11.8987341772vw , 7.75rem );
    }
  }
  @supports not (padding-top: clamp( 1.875rem , -0.5047468354rem  +  11.8987341772vw , 7.75rem )) {
    .comments {
      padding-top: calc(1.875rem + 5.875 * (100vw - 20rem) / 49.375);
    }
  }
}
@media (max-width: 20em) {
  .comments {
    padding-top: 1.875rem;
  }
}
@media (min-width: 69.375em) {
  .comments {
    padding-bottom: 9.375rem;
  }
}
@media (min-width: 20em) and (max-width: 69.375em) {
  @supports (padding-bottom: clamp( 1.875rem , -1.1629746835rem  +  15.1898734177vw , 9.375rem )) {
    .comments {
      padding-bottom: clamp( 1.875rem , -1.1629746835rem  +  15.1898734177vw , 9.375rem );
    }
  }
  @supports not (padding-bottom: clamp( 1.875rem , -1.1629746835rem  +  15.1898734177vw , 9.375rem )) {
    .comments {
      padding-bottom: calc(1.875rem + 7.5 * (100vw - 20rem) / 49.375);
    }
  }
}
@media (max-width: 20em) {
  .comments {
    padding-bottom: 1.875rem;
  }
}
.comments__body {
  text-align: center;
}
@media (min-width: 69.375em) {
  .comments__icon {
    padding-bottom: 2.3125rem;
  }
}
@media (min-width: 20em) and (max-width: 69.375em) {
  @supports (padding-bottom: clamp( 1.25rem , 0.8196202532rem  +  2.1518987342vw , 2.3125rem )) {
    .comments__icon {
      padding-bottom: clamp( 1.25rem , 0.8196202532rem  +  2.1518987342vw , 2.3125rem );
    }
  }
  @supports not (padding-bottom: clamp( 1.25rem , 0.8196202532rem  +  2.1518987342vw , 2.3125rem )) {
    .comments__icon {
      padding-bottom: calc(1.25rem + 1.0625 * (100vw - 20rem) / 49.375);
    }
  }
}
@media (max-width: 20em) {
  .comments__icon {
    padding-bottom: 1.25rem;
  }
}
.comments__title {
  font-weight: 300;
  font-size: 18px;
  letter-spacing: 1.8px;
}
.comments__title span {
  font-weight: 700;
  color: #353738;
}
@media (min-width: 69.375em) {
  .comments__title {
    padding-bottom: 1.6875rem;
  }
}
@media (min-width: 20em) and (max-width: 69.375em) {
  @supports (padding-bottom: clamp( 1.25rem , 1.0727848101rem  +  0.8860759494vw , 1.6875rem )) {
    .comments__title {
      padding-bottom: clamp( 1.25rem , 1.0727848101rem  +  0.8860759494vw , 1.6875rem );
    }
  }
  @supports not (padding-bottom: clamp( 1.25rem , 1.0727848101rem  +  0.8860759494vw , 1.6875rem )) {
    .comments__title {
      padding-bottom: calc(1.25rem + 0.4375 * (100vw - 20rem) / 49.375);
    }
  }
}
@media (max-width: 20em) {
  .comments__title {
    padding-bottom: 1.25rem;
  }
}
.comments__text {
  line-height: 141.666667%; /* 34/24 */
  font-style: italic;
}
@media (min-width: 69.375em) {
  .comments__text {
    font-size: 1.5rem;
  }
}
@media (min-width: 20em) and (max-width: 69.375em) {
  @supports (font-size: clamp( 1rem , 0.7974683544rem  +  1.0126582278vw , 1.5rem )) {
    .comments__text {
      font-size: clamp( 1rem , 0.7974683544rem  +  1.0126582278vw , 1.5rem );
    }
  }
  @supports not (font-size: clamp( 1rem , 0.7974683544rem  +  1.0126582278vw , 1.5rem )) {
    .comments__text {
      font-size: calc(1rem + 0.5 * (100vw - 20rem) / 49.375);
    }
  }
}
@media (max-width: 20em) {
  .comments__text {
    font-size: 1rem;
  }
}

.discover__top {
  display: flex;
}
@media (max-width: 767px) {
  .discover__top {
    flex-wrap: wrap;
  }
}
.discover-top {
  width: 100%;
}
@media (min-width: 250em) {
  .discover-top {
    height: 83.3125rem;
  }
}
@media (min-width: 47.9375em) and (max-width: 250em) {
  @supports (height: clamp( 15.9375rem , -0.0466091865rem  +  33.3436436746vw , 83.3125rem )) {
    .discover-top {
      height: clamp( 15.9375rem , -0.0466091865rem  +  33.3436436746vw , 83.3125rem );
    }
  }
  @supports not (height: clamp( 15.9375rem , -0.0466091865rem  +  33.3436436746vw , 83.3125rem )) {
    .discover-top {
      height: calc(15.9375rem + 67.375 * (100vw - 47.9375rem) / 202.0625);
    }
  }
}
.discover-top__column {
  flex: 0 1 33.333%;
}
@media (max-width: 767px) {
  .discover-top__column {
    flex: 0 1 66.666%;
  }
}
.discover-top__column_l {
  flex: 0 1 16.666%;
}
@media (max-width: 767px) {
  .discover-top__column_l {
    flex: 0 1 33.333%;
  }
}
.discover-top__twice {
  display: flex;
}
.discover-top__image {
  position: relative;
}

.discover-top-twice {
  height: 50%;
}
.discover-top-twice__column {
  flex: 0 1 50%;
}
.discover-top-twice__image {
  position: relative;
}

.discover-top-alone {
  position: relative;
  height: 50%;
}
.discover-bottom {
  background-color: #282f35;
  display: flex;
  justify-content: center;
}
@media (min-width: 69.375em) {
  .discover-bottom {
    padding-top: 5.875rem;
  }
}
@media (min-width: 20em) and (max-width: 69.375em) {
  @supports (padding-top: clamp( 1.875rem , 0.2547468354rem  +  8.1012658228vw , 5.875rem )) {
    .discover-bottom {
      padding-top: clamp( 1.875rem , 0.2547468354rem  +  8.1012658228vw , 5.875rem );
    }
  }
  @supports not (padding-top: clamp( 1.875rem , 0.2547468354rem  +  8.1012658228vw , 5.875rem )) {
    .discover-bottom {
      padding-top: calc(1.875rem + 4 * (100vw - 20rem) / 49.375);
    }
  }
}
@media (max-width: 20em) {
  .discover-bottom {
    padding-top: 1.875rem;
  }
}
@media (min-width: 69.375em) {
  .discover-bottom {
    padding-bottom: 5.875rem;
  }
}
@media (min-width: 20em) and (max-width: 69.375em) {
  @supports (padding-bottom: clamp( 1.875rem , 0.2547468354rem  +  8.1012658228vw , 5.875rem )) {
    .discover-bottom {
      padding-bottom: clamp( 1.875rem , 0.2547468354rem  +  8.1012658228vw , 5.875rem );
    }
  }
  @supports not (padding-bottom: clamp( 1.875rem , 0.2547468354rem  +  8.1012658228vw , 5.875rem )) {
    .discover-bottom {
      padding-bottom: calc(1.875rem + 4 * (100vw - 20rem) / 49.375);
    }
  }
}
@media (max-width: 20em) {
  .discover-bottom {
    padding-bottom: 1.875rem;
  }
}
.discover-bottom__button {
  line-height: 150%;
  text-align: center;
  width: 300px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2.8px;
  color: #fff;
  padding: 20px 0px;
  border: solid 1px rgba(255, 255, 255, 0.5);
  transition: all 0.3s ease 0s;
}
@media (min-width: 47.9375em) {
  .discover-bottom__button {
    width: 18.75rem;
  }
}
@media (min-width: 20em) and (max-width: 47.9375em) {
  @supports (width: clamp( 15.625rem , 13.3878635347rem  +  11.1856823266vw , 18.75rem )) {
    .discover-bottom__button {
      width: clamp( 15.625rem , 13.3878635347rem  +  11.1856823266vw , 18.75rem );
    }
  }
  @supports not (width: clamp( 15.625rem , 13.3878635347rem  +  11.1856823266vw , 18.75rem )) {
    .discover-bottom__button {
      width: calc(15.625rem + 3.125 * (100vw - 20rem) / 27.9375);
    }
  }
}
@media (max-width: 20em) {
  .discover-bottom__button {
    width: 15.625rem;
  }
}
.discover-bottom__button:hover {
  background-color: #1a1e22;
}

@media (min-width: 69.375em) {
  .saddle {
    padding-top: 6.875rem;
  }
}
@media (min-width: 20em) and (max-width: 69.375em) {
  @supports (padding-top: clamp( 1.875rem , -0.1503164557rem  +  10.1265822785vw , 6.875rem )) {
    .saddle {
      padding-top: clamp( 1.875rem , -0.1503164557rem  +  10.1265822785vw , 6.875rem );
    }
  }
  @supports not (padding-top: clamp( 1.875rem , -0.1503164557rem  +  10.1265822785vw , 6.875rem )) {
    .saddle {
      padding-top: calc(1.875rem + 5 * (100vw - 20rem) / 49.375);
    }
  }
}
@media (max-width: 20em) {
  .saddle {
    padding-top: 1.875rem;
  }
}
@media (min-width: 69.375em) {
  .saddle {
    padding-bottom: 6.875rem;
  }
}
@media (min-width: 20em) and (max-width: 69.375em) {
  @supports (padding-bottom: clamp( 1.875rem , -0.1503164557rem  +  10.1265822785vw , 6.875rem )) {
    .saddle {
      padding-bottom: clamp( 1.875rem , -0.1503164557rem  +  10.1265822785vw , 6.875rem );
    }
  }
  @supports not (padding-bottom: clamp( 1.875rem , -0.1503164557rem  +  10.1265822785vw , 6.875rem )) {
    .saddle {
      padding-bottom: calc(1.875rem + 5 * (100vw - 20rem) / 49.375);
    }
  }
}
@media (max-width: 20em) {
  .saddle {
    padding-bottom: 1.875rem;
  }
}
.saddle__image {
  display: flex;
  max-width: 95px;
  margin: 0 auto;
}
@media (min-width: 69.375em) {
  .saddle__image {
    padding-bottom: 2.5rem;
  }
}
@media (min-width: 20em) and (max-width: 69.375em) {
  @supports (padding-bottom: clamp( 1.875rem , 1.621835443rem  +  1.2658227848vw , 2.5rem )) {
    .saddle__image {
      padding-bottom: clamp( 1.875rem , 1.621835443rem  +  1.2658227848vw , 2.5rem );
    }
  }
  @supports not (padding-bottom: clamp( 1.875rem , 1.621835443rem  +  1.2658227848vw , 2.5rem )) {
    .saddle__image {
      padding-bottom: calc(1.875rem + 0.625 * (100vw - 20rem) / 49.375);
    }
  }
}
@media (max-width: 20em) {
  .saddle__image {
    padding-bottom: 1.875rem;
  }
}
.saddle__text {
  display: flex;
  justify-content: center;
  font-style: italic;
  line-height: 141.666667%; /* 34/24 */
}
@media (min-width: 69.375em) {
  .saddle__text {
    font-size: 1.5rem;
  }
}
@media (min-width: 20em) and (max-width: 69.375em) {
  @supports (font-size: clamp( 1.125rem , 0.9731012658rem  +  0.7594936709vw , 1.5rem )) {
    .saddle__text {
      font-size: clamp( 1.125rem , 0.9731012658rem  +  0.7594936709vw , 1.5rem );
    }
  }
  @supports not (font-size: clamp( 1.125rem , 0.9731012658rem  +  0.7594936709vw , 1.5rem )) {
    .saddle__text {
      font-size: calc(1.125rem + 0.375 * (100vw - 20rem) / 49.375);
    }
  }
}
@media (max-width: 20em) {
  .saddle__text {
    font-size: 1.125rem;
  }
}
@media (min-width: 69.375em) {
  .saddle__text {
    padding-bottom: 2.1875rem;
  }
}
@media (min-width: 20em) and (max-width: 69.375em) {
  @supports (padding-bottom: clamp( 1.875rem , 1.7484177215rem  +  0.6329113924vw , 2.1875rem )) {
    .saddle__text {
      padding-bottom: clamp( 1.875rem , 1.7484177215rem  +  0.6329113924vw , 2.1875rem );
    }
  }
  @supports not (padding-bottom: clamp( 1.875rem , 1.7484177215rem  +  0.6329113924vw , 2.1875rem )) {
    .saddle__text {
      padding-bottom: calc(1.875rem + 0.3125 * (100vw - 20rem) / 49.375);
    }
  }
}
@media (max-width: 20em) {
  .saddle__text {
    padding-bottom: 1.875rem;
  }
}
.saddle__form {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  position: relative;
  max-width: 526px;
}
@media (max-width: 500px) {
  .saddle__form {
    flex-direction: column;
  }
}
.saddle__input {
  border: solid 1px #d3d7d9;
  padding: 28px 0px 28px 28px;
  width: 400px;
  font-size: 20px;
  font-style: italic;
  color: #929292;
}
@media (max-width: 500px) {
  .saddle__input {
    width: 100%;
  }
}
.saddle__button {
  font-size: 24px;
  font-weight: 300;
  line-height: 100%;
  padding: 26px 45px;
  color: #fff;
  background-color: #64c29e;
  transition: all 0.3s ease 0s;
}
.saddle__button:hover {
  background-color: #42a882;
}

.form__error {
  position: absolute;
  bottom: -20px;
  left: 0;
  color: red;
  font-size: 16px;
}
